@import './Variables';
.dash__flex{
    margin: 50px;
    
}
.dash__container{
    height: 60px;
}
.dash__container h2{
    color: $secondary-color;
    font-weight: $font-weight;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 25px;
    height: 190px;
}
.cards div{
  background: $primary-color;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  height: 160px;
  padding: 20px;
}
.cards div h4{
   font-weight: $font-weight;
   color: $secondary-color;
  }
  .cards div h2{
    font-weight: $font-weight1;
    color: $secondary-color;
   }
   .content{
    background: $primary-color;
    border: $border;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    height: 100%;
    // padding: 20px;
   }
   table{
     width: 100%;
   }
    th {
    padding: 20px;
    // text-align: center;
    font-weight: $font-weight1;
    font-size: 10px;
    color: $secondary-color;
    cursor: pointer;
}
td{
    padding-left: 20px;
    // text-align: center;
    font-weight: $font-weight2;
    font-size: 10px;
    color: $secondary-color;
    border-bottom: $border1;
    height: 62px;
    cursor: pointer;
}

   @media screen and (max-width:'960px'){
    .dash__flex{
        margin-left: 140px;
    }
    .dash__container{
        height: 60px;
    }
    .dash__container h2{
        color: $secondary-color;
        font-weight: $font-weight;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
    }
    .cards div{
      background: $primary-color;
      border: $border;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      height: 160px;
    
    }
    .cards div h4{
       font-weight: $font-weight;
       color: $secondary-color;
      }
      .cards div h2{
        font-weight: $font-weight1;
        color: $secondary-color;
       }
    
   }